body {
    background-color: #d78ddd; /* Fundo leve para contraste */
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para os cards */
}
.card-header{
   background-color:  hsla(296, 77%, 83%, 0.253);
}

.historico-bloco {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #ffffff; /* Fundo branco para os blocos do histórico */
}

.mes-bloco {
    margin-bottom: 20px;
}

.btn {
    margin-top: 10px; /* Espaçamento superior para botões */
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
h1{
    text-align: center;
    color: #343a40; /* Cor do título */
}
footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: bold;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
footer a{
    
    color: rgb(134, 117, 209);
    text-decoration: none;
    font-style: italic;
}
footer a:hover{
    color: rgb(112, 82, 245);
    text-decoration: none;
}