body {
    background-color: #d78ddd; /* Fundo leve para contraste */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    margin-bottom: 50px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
    border-radius: 100px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra sutil para os cards */
}
.card-header {
    color: #ffffff;
    background-color: hsla(313, 88%, 46%, 0.808);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.historico-bloco {
    border: 1px solid #c146cc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #ffffff; /* Fundo branco para os blocos do histórico */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
p{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
input{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
label{

    font-size: larger;
}
.mes-bloco {
    margin-bottom: 20px;
}
.btn {
    margin-top: 10px; /* Espaçamento superior para botões */
}
.btn-primary {
    background-color: #be5195;
    color: white;
    border: none;
}
.btn-primary:hover{
    background-color: #a8376e;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
h1 {
    margin-top: 30px;
    margin-left: 20px;
}
h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
hr{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hr_despesas{
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 20px;
}
footer h6 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
footer a {
    color: rgb(134, 117, 209);
    text-decoration: none;
    font-style: italic;
}
footer a:hover {
    color: rgb(112, 82, 245);
    text-decoration: none;
}
